@page "/game?id={Id}"
@using BoardgameStore.Discover.Repositories
@using BoardgameStore.Discover.Entities
@inject IGameRepository GameRepository;

@if (_game is null)
{
    <p>Woops, there is no game here. <a href="">Go back home.</a></p>
    return;
}

<h3 class="mb-5">Details for @_game.Name</h3>

<div class="container-fluid d-flex flex-row flex-nowrap align-items-center">
    <img src="@_game.ImageUrl" width="200" alt="@_game.Name box" style="padding: 0 2rem;"/>
    <div class="d-flex flex-column">
        <b>Name: </b> @_game.Name
        <b>Price: </b> @_game.Price.ToString("C")
    </div>
</div>

@code {

    [Parameter]
    public string Id { get; set; }

    private Game _game;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (int.TryParse(Id, out var id))
        {
            _game = GameRepository.GetBy(id);
        }
    }
}
